/* Modal styles */

#firstModalBtn{
    top : 135px;
    left: 45px;
}

.notesBtn{
    width: 35px;
    height: 36px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #08080899; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

.mt{
    margin-top: 9px;
}

/* Modal content styles */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 15px 2px 15px 15px;
    width: 671px;
    height: 377px;
    border-radius: 30px;
    top: -100px;
    animation: fadeIn 0.5s ease-in-out forwards, scaleIn 0.5s ease-in-out forwards;
}


.new-modal-content, .edit-modal-content {
    padding: 20px 9px 10px 17px;
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    width: 434px;
    height: 244px;
    border-radius: 20px;
    top: -30px;
    animation: fadeIn 0.5s ease-in-out forwards, scaleIn 0.5s ease-in-out forwards;
}

/* Close button styles */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 14px; 
    padding-right: 15px;
}

.newDataModalClose, .editClose{
    width: 12px;
    float: right;
    font-size: 28px;
    font-weight: bold;
    /* width: 10px;  */
}

.close:hover,
.close:focus,
.newDataModalClose:hover,
.newDataModalClose:focus,
.editClose:hover,
.editClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.notes-heading{
    /* width: 56px; */
    margin-top: 21px;
    width: 52px;
    height: 10px;
}
/* table css */ 

.table-container {
    max-height: 285px;
    padding-right: 14px;
    overflow: auto;
    scrollbar-color: auto !important;
    scrollbar-width: auto !important;
}

#detailsNotesContainer{
    width: 655px;
    display: flex;
    flex-direction: column;
    height: 151px;
    overflow-y: auto;
}

.detailsNotesContainer,
#details-notes-container{
    scrollbar-color: auto !important;
    scrollbar-width: auto !important;
}

/* Track */
.table-container::-webkit-scrollbar,
.createModalContainer::-webkit-scrollbar,
#details-notes-container::-webkit-scrollbar,
.detailsNotesContainer::-webkit-scrollbar,
.editModalContainer::-webkit-scrollbar{
    width: 2px !important;
}

.table-container::-webkit-scrollbar-track,
.createModalContainer::-webkit-scrollbar-track,
#details-notes-container::-webkit-scrollbar-track,
.detailsNotesContainer::-webkit-scrollbar-track,
.editModalContainer::-webkit-scrollbar-track{
    background-color: #ffffff !important; 
}

/* Handle */
::-webkit-scrollbar-thumb,
.createModalContainer::-webkit-scrollbar-thumb,
#details-notes-container::-webkit-scrollbar-thumb,
.detailsNotesContainer::-webkit-scrollbar-thumb,
.editModalContainer::-webkit-scrollbar-thumb{
    background-color: #090909 !important; 
    border-radius: 4px !important; 
    height: 30px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover,
.createModalContainer::-webkit-scrollbar-thumb:hover,
#details-notes-container::-webkit-scrollbar-thumb:hover,
.detailsNotesContainer::-webkit-scrollbar-thumb:hover,
.editModalContainer::-webkit-scrollbar-thumb:hover{
    background-color: #555 !important; 
}

.notesTable {
    border-collapse: collapse;
    width: 100%;
    color: black;
    table-layout: fixed;
}

.notesTableBody {
    color: black;
}

.notesTableHeading {
    border-bottom: 1px solid #000000;
    text-align: left;
    font-size: 10px;
    letter-spacing: 0.8px;
    font-family: "Lato";
}


.notesTableData {
    text-transform: uppercase;
    font-size: 8px;
    padding: 5px 5px 7px 0px;
    letter-spacing: 1px;
    line-height: 8px;
    border-bottom: 1px solid #000000;
    text-align: left;
    font-family: "Lato";

}

td > div {
    white-space: nowrap;   
    overflow: hidden;       
    text-overflow: ellipsis; 
}


tr:hover .creatorNameText{
    color: #ce8f8f;
}

tr:hover .date, tr:hover .meetingRoomText, tr:hover div{
    color: #900000;
}

tr:hover .actionBtn, tr:hover #meetingCamIcon {
    fill: #900000;
}

.meetingRoomText{
    display: inline-block; 
    text-transform:lowercase; 
    cursor:pointer; 
    color:black;
    vertical-align: super;
}

.creatorNameText{
    color: #898888;
    font-size: 8px;
    letter-spacing: 1px;
}


#date, #editDate{
    border: none;
    float: right;
}

#date:focus-visible{
    outline-offset: 0cap;
}

.topSaveBtn{
    /* display: none; */
    cursor: pointer;
    float: right;
    padding-right: 20px;
    width: 30px;
}


.newDataBtn {
    width: 14px;
    height: 14px;
    float: right;
    padding: 5px 0px 5px 5px;
    cursor: pointer;
}

.dynamicCreateBtn{
    width: 77px;
    padding: 30px 15px 15px 15px;
    height: 59px;
}


.updateBtn{
    color: black; 
    font-size: 10px;
    font-family: "Lato";
    letter-spacing: 0.5px;
    border: none;
    cursor: pointer;
    background: none;
    float: right;
}



.editBtn{
    width: 8px;
    cursor: pointer;
}

.delBtn{
    margin-left: 15px;   
    width: 9px;
    cursor: pointer;
}

label{
    text-transform: uppercase;
    font-size: 8px;
    margin: 2px 0px;
    letter-spacing: 0.8px;
    line-height: 10px;
    text-align: left;
    color: black;
    width: 140px;
    font-family: "Lato";

}

.inputField, textarea{
    font-family: "Lato";
    border-bottom: 1px solid black;
    border-top: none;
    width: 70%;
    font-size: 8px;
    border-left: none;
    border-right: none;
    padding-bottom: 6px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    outline: none;
    font-family: "Lato";

}

#notesContainer, #edit-notes-container{
    color: black;
    width: 70%;
    font-size: 10px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}

.imageInputField{
    color: #444444;
}

p{
    margin: 0;
}

.tableCamIcon{
    width: 28px;
    margin-right: 5px;
    margin-top: 2px;
}

.camIcon{
    width: 28px;
    margin-right: 5px;
}


.detailsCamIcon{
    width: 32px;
    margin-top: 2px;
    height: 14px;
}

.date{
    padding: 5px 0px 0px 0px;
}

.addModalDate{
    text-transform: uppercase;
    font-size: 8px;
    padding: 5px 0px;
    letter-spacing: 1px;
    line-height: 2px;
    font-family: "Lato";
}

.detailsModalMeetingLink{
    font-size: 9px;
    letter-spacing: 1px;
    font-family: "Lato";
    color: black;
    margin-left: 10px;
}

.createModalLink{
    font-size: 8px;
    letter-spacing: 0.6px;
    font-family: "Lato";
    color: black;

}
.createModalContainer, .editModalContainer{
    clear:both; 
    margin-top: 15px;
    margin-left:5px; 
    max-height: 162px;
    overflow-y: auto;
    overflow-x: hidden;
    /* padding-right: 20px; */
    scrollbar-color: auto !important;
    scrollbar-width: auto !important;
}
.notes-container, .edit-notes-container {
    overflow-wrap: break-word;
    display: flex;
    overflow-wrap: break-word;
    flex-direction: column;
    align-items: flex-end;

}

.notePoints, .editNotePoints{
    width: 82%;
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 10px;
    font-family: "Lato";
    text-transform: uppercase;
    color: black;
    border: none;
    outline: none;
    /* margin-left: 8px; */
}
.bullets{
    margin-right: 5px;
}
.actionBtn{
    display: flex; 
    justify-content: flex-end; 
    /* margin-bottom: 11px; */
}
.detailsHeading{

    padding-right: 78px;
    padding-top: 18px;
    margin: 0;
    font-size: 12px;
    letter-spacing: 1.3px;
    /* padding: 0px 10px; */
    font-weight: 800;
    font-family: "Lato";
    text-transform: uppercase;
    color: black;
}

.detailsCreator{
    line-height: 20px;
    font-size: 10px;
    letter-spacing: 1.3px;
    margin: 2px 0px 0px 0px;
    font-weight: 600;
    padding: 0px 10px;
    font-family: "Lato";
    text-transform: uppercase;
    color: black;
}

.detailsModalDateContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 25px;
    margin-right: 17px;
}

.detailsModalDate{
    text-transform: uppercase;
    font-size: 9px;
    padding: 5px 0px;
    letter-spacing: 0.8px;
    line-height: 4px;
    font-weight: 600;
    font-family: "Lato";
    color: black;

}

.detailsSubject{
    font-size: 11px;
    text-decoration: underline;
    text-underline-offset: 4px;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 20px 0px 45px 0px;
    font-family: "Lato";
    text-transform: uppercase;
    color: black;
}

.detailsNotes{
    width: 90%;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 16px;
    font-family: "Lato";
    color: black;
}

.addModalDate{
    color:black;
}

.placeholder-red::placeholder, .delIconRed{
    color: #900000;
}

#detailsModalBtn{
    cursor: pointer;
}
.detailsDataModalClose{
    width: 14px; 
    margin: 7px 0px 0px 22px;
    cursor:pointer;
}


/* loader */

.loader {
    width: 15px;
    height: 15px;
    border: 5px solid #ddd;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
  }
  
  .loader::before {
    content: "";
    position: absolute;
    inset: -5px;
    border-radius: 50%;
    border: 5px solid #020202;
    animation: l18 2s infinite linear;
  }
  

  @keyframes l18 {
    0%   { clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0); }
    25%  { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0); }
    50%  { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%); }
    75%  { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%); }
    100% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0); }
  }
  

  #topLoader, #editTopLoader{
    display: none;
    left: 0px;
    bottom: 0px;
  }

  #loaderWithScroll,  #editLoaderWithScroll{
    display: none;
  }

  #loaderWithoutScroll, #editLoaderWithoutScroll{
    display: none;
    position: absolute;
    right: 20px;
    bottom: 15px;
  }


  .custom-tooltip {
    font-size: 8.5px;
    letter-spacing: 1px;
    margin-left: 40px;
    padding: 1px 2px 2px 3px;
    background-color: #e5e3e3df;
    border-radius: 4px;
    color: #080808;
    font-weight: 600;
    animation: fadeInOut 1s ease-in-out;
}

#custom-tooltip, #edit-custom-tooltip{
    display: none;
    position: fixed;
    top: 42px;
    right: 15px;
}

#details-custom-tooltip{
    display: none;
    position: fixed;
    left: 152px;
    top: 120px;
}

.detailsZMLogo{
    width: 71px;
}

.detailsNoteLogo{
    width: 35px; 
    margin-left: 20px;
}

#downloadPdfBtn{
    width: 41px; 
    float: right; 
    cursor:pointer;
    position: relative;
    bottom: 43px;
    right: 16px;
}

#permanentDelBtn{
    position: fixed;
    top: 187px;
}

/* .creatorNameText{
    position: fixed;
    top: 146px;
} */


.createZMLogo{
    width: 43px;
}

.createNotePadLogo{
    width: 20px;
    margin-left: 15px;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#edit-loader{
    display: none;
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
    position: fixed;
    left: 240px;
    bottom: 145px;
}

.ZMLogo{
    width: 72px;
}

.notePadLogo{
    width: 34px;
}

#table-loader{
    display: none;
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
    position: fixed;
    left: 313px;
    bottom: 145px;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }


@media only screen and (max-width: 1024px) {
    .modal-content{
        width: 60%;
        height: 55%;
        top: -50px;
    }

    .new-modal-content, .edit-modal-content{
        width: 40%;
        height: 42%;
        border-radius: 20px;
        top: -10px;
    }

    .notePoints, .editNotePoints{
        margin-left: 15px;
        font-size: 9px;
    }

    .createModalContainer, .editModalContainer{
        max-height: 142px;
    }

    .inputField, .detailsNotes, .detailsModalDate {
        font-size: 9px;
    }

    #downloadPdfBtn{
        width: 40px;
    }

    .detailsCreator{
        font-size: 11px;
    }
    .detailsSubject{
        font-size: 11px;
    }

    .detailsHeading{
        font-size: 14px;
    }

    .detailsZMLogo{
        width: 73px;
    }

    .detailsNoteLogo{
        width: 40px; 
    }
}


@media only screen and (min-width: 1920px){

    .modal-content{
        width: 960px;
        height: 540px;
        top: -20px;
    }
    .table-container{
        max-height: 390px;
    }

    .new-modal-content, .edit-modal-content{
        width: 30%;
        height: 30%;
        top: 57px;
    }

    #notesContainer, #edit-notes-container{
        width: 75%;
    }

    .createModalContainer, .editModalContainer{
        max-height: 220px;
    }

    td{
        padding: 5px 5px 7px 0px;
    }

    #detailsNotesContainer{
        height: 265px !important;
    }
    
}

@media only screen and (min-width: 1920px){
    #downloadPdfBtn{
        width: 50px;
    }

    .detailsNotes {
        font-size: 11px;
        line-height: 17px;
    }

    .detailsModalDate {
        font-size: 11px;
        letter-spacing: 1px;
    }

    .detailsSubject{
        margin-bottom: 50px;
    }

    .notePoints, .editNotePoints{
        margin-left: 0px;
    }
    
}