/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #08080899; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

/* Modal content styles */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0px 15px 15px 15px;
    width: 55%;
    height: 65%;
    border-radius: 30px;
    top: -100px;
    animation: fadeIn 0.5s ease-in-out forwards, scaleIn 0.5s ease-in-out forwards;
}


.new-modal-content, .edit-modal-content {
    padding: 15px 20px;
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    width: 35%;
    height: 55%;
    border-radius: 30px;
    top: -75px;
    animation: fadeIn 0.5s ease-in-out forwards, scaleIn 0.5s ease-in-out forwards;
}

/* Close button styles */
.close , .editClose, .newDataModalClose{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.newDataModalClose:hover,
.newDataModalClose:focus,
.editClose:hover,
.editClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.heading{
    margin: 0;
    font-size: 13px;
    letter-spacing: 2px;
    padding: 5px;
    font-weight: 600;
    font-family: "Lato";
    color: black;
}
/* table css */ 

.table-container {
    max-height: 275px;
    overflow: auto;
    padding-right: 20px;
}


/* Track */
.table-container::-webkit-scrollbar,
.createModalContainer::-webkit-scrollbar,
.detailsNotesContainer::-webkit-scrollbar{
    width: 2px;
}

.table-container::-webkit-scrollbar-track,
.createModalContainer::-webkit-scrollbar-track,
.detailsNotesContainer::-webkit-scrollbar-track{
    background-color: #ffffff; 
}

/* Handle */
::-webkit-scrollbar-thumb,
.createModalContainer::-webkit-scrollbar-thumb,
.detailsNotesContainer::-webkit-scrollbar-thumb{
    background-color: #090909; 
    border-radius: 4px; 
    height: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover,
.createModalContainer::-webkit-scrollbar-thumb:hover,
.detailsNotesContainer::-webkit-scrollbar-thumb:hover{
    background-color: #555; 
}

table {
    border-collapse: collapse;
    width: 100%;
    color: black;
    table-layout: fixed;
}

tbody {
    color: black;
}

th {
    border-bottom: 1px solid #000000;
    text-align: left;
    font-size: 11px;
    letter-spacing: 0.8px;
    font-family: "Lato";

}

td {
    text-transform: uppercase;
    font-size: 9px;
    padding: 5px 5px 5px 0px;
    letter-spacing: 1px;
    line-height: 10px;
    border-bottom: 1px solid #000000;
    text-align: left;
    font-family: "Lato";

}

td{
    white-space: nowrap;   
    overflow: hidden;       
    text-overflow: ellipsis; 
}


#date, #editDate{
    border: none;
    float: right;
}

#date:focus-visible{
    outline-offset: 0cap;
}


.submit, #update{
    z-index: 99;
    color: black;
    padding: 6px;
    font-size: 14px;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    background: none;
    float: right;
    text-transform: uppercase;
    position: relative;
    top: -25px;
    font-family: "Lato";

}

.topSaveBtn{
    display: none;
    color: black;
    padding: 6px;
    font-size: 14px;
    font-family: "Lato";
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    background: none;
    float: right;
    text-transform: uppercase;
}

.newDataBtn {
    float: right;
    padding: 5px;
    cursor: pointer;
}

.editBtn{
    width: 8px;
    cursor: pointer;
}

.delBtn{
    margin-left: 15px;   
    width: 9px;
    cursor: pointer;
}

label{
    text-transform: uppercase;
    font-size: 9px;
    padding: 5px 0px;
    letter-spacing: 1px;
    line-height: 10px;
    text-align: left;
    color: black;
    width: 140px;
    font-family: "Lato";

}

.inputField, textarea{
    font-family: "Lato";
    border-bottom: 1px solid black;
    border-top: none;
    width: 70%;
    font-size: 10px;
    border-left: none;
    border-right: none;
    padding-bottom: 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: none;
    font-family: "Lato";

}

#notesContainer{
    color: black;
    width: 70%;
    font-size: 10px;
    padding-bottom: 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.imageInputField{
    color: #444444;
}

p{
    margin: 0;
}

.camIcon{
    width: 35px;
    margin-right: 5px;
}

.date{
    padding: 5px 0px 0px 0px;
}

.addModalDate{
    text-transform: uppercase;
    font-size: 9px;
    padding: 5px 0px;
    letter-spacing: 1px;
    line-height: 5px;
    font-family: "Lato";

}

.createModalLink{
    font-size: 9px;
    letter-spacing: 0.7px;
    font-family: "Lato";
    color: black;

}
.createModalContainer{
    max-height: 220px;
    overflow: auto;
    padding-right: 20px;
}
.notes-container {
    width: 455px;
    max-width: 100%; 
    height: 80px; 
    display: flex;
    align-items: flex-start;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}

.notePoints{
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 20px;
    font-family: "Lato";

}
.bullets{
    margin-right: 5px;
}
.actionBtn{
    display: flex; 
    justify-content: flex-end; 
    margin: 10px 0px;
}
.detailsHeading{
    margin: 0;
    font-size: 19px;
    letter-spacing: 2.2px;
    padding: 0px 10px;
    font-weight: 500;
    font-family: "Lato";

}

.detailsCreator{
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 1.3px;
    margin: 0;
    font-weight: 500;
    padding: 0px 10px;
    font-family: "Lato";

}

.detailsModalDate{
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px 0px;
    letter-spacing: 0.8px;
    line-height: 4px;
    font-weight: 600;
    font-family: "Lato";

}

.detailsTitle{
    font-size: 12px;
    text-decoration: underline;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 20px 0px 10px 0px;
    font-family: "Lato";

}

.detailsNotes{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    line-height: 15px;
    font-family: "Lato";

}

.addModalDate{
    color:black;
}