/* Modal styles */

.watermark {
    width: 72px !important;
    height: 80px !important;
}

.zimoGroupLogo{
    width: 104px;
    height: 24px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    z-index: 9999;
    position: fixed;
    left: 32px;
    bottom: 26px;
}


.ztfrLogo{
    width: 71px;
    height: 23px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    z-index: 9999;
    position: fixed;
    left: 174px;
    bottom: 28px;
}

#firstModalBtn{
    top : 135px;
    left: 45px;
}

.notesBtn{
    width: 35px;
    height: 36px;
}

.modal-overlay{
    width: 671px;
    height: 377px;
    position: relative;
    top: 0px;
    background: #08080899;
    left: 0px;
    border-radius: 30px;
    border: none;
    padding: 15px 2px 15px 15px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    /* left: 0; */
    /* top: 0px; */
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: #08080899; */
    left: 336px;
    top: 106px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

.mt{
    margin-top: 9px;
}

/* Modal content styles */
.modal-content {
    position: relative;
    background-color: #fefefe;
    /* margin: 15% auto; */
    padding: 15px 2px 15px 15px;
    width: 671px;
    height: 377px;
    border-radius: 30px;
    /* top: -100px; */
    animation: fadeIn 0.5s ease-in-out forwards, scaleIn 0.5s ease-in-out forwards;
}


.new-modal-content, .edit-modal-content {
    padding: 20px 9px 10px 17px;
    position: relative;
    background-color: #fefefe;
    /* margin: 15% auto; */
    width: 434px;
    height: 244px;
    border-radius: 20px;
    /* top: -30px; */
    top: 52px;
    left: 100px;
    animation: fadeIn 0.5s ease-in-out forwards, scaleIn 0.5s ease-in-out forwards;
}

/* Close button styles */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 14px; 
    padding-right: 15px;
}

.newDataModalClose, .editClose{
    width: 12px;
    float: right;
    font-size: 28px;
    font-weight: bold;
    /* width: 10px;  */
}

.close:hover,
.close:focus,
.newDataModalClose:hover,
.newDataModalClose:focus,
.editClose:hover,
.editClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.notes-heading{
    /* width: 56px; */
    margin-top: 21px;
    width: 52px;
    height: 10px;
}
/* table css */ 

.table-container {
    max-height: 285px;
    padding-right: 14px;
    overflow: auto;
    scrollbar-color: auto !important;
    scrollbar-width: auto !important;
}

#detailsNotesContainer{
    width: 655px;
    display: flex;
    flex-direction: column;
    height: 151px;
    overflow-y: auto;
}

.detailsNotesContainer,
#details-notes-container{
    scrollbar-color: auto !important;
    scrollbar-width: auto !important;
}

/* Track */
.table-container::-webkit-scrollbar,
.createModalContainer::-webkit-scrollbar,
#details-notes-container::-webkit-scrollbar,
.detailsNotesContainer::-webkit-scrollbar,
.editModalContainer::-webkit-scrollbar{
    width: 2px !important;
}

.table-container::-webkit-scrollbar-track,
.createModalContainer::-webkit-scrollbar-track,
#details-notes-container::-webkit-scrollbar-track,
.detailsNotesContainer::-webkit-scrollbar-track,
.editModalContainer::-webkit-scrollbar-track{
    background-color: #ffffff !important; 
}

/* Handle */
::-webkit-scrollbar-thumb,
.createModalContainer::-webkit-scrollbar-thumb,
#details-notes-container::-webkit-scrollbar-thumb,
.detailsNotesContainer::-webkit-scrollbar-thumb,
.editModalContainer::-webkit-scrollbar-thumb{
    background-color: #090909 !important; 
    border-radius: 4px !important; 
    height: 30px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover,
.createModalContainer::-webkit-scrollbar-thumb:hover,
#details-notes-container::-webkit-scrollbar-thumb:hover,
.detailsNotesContainer::-webkit-scrollbar-thumb:hover,
.editModalContainer::-webkit-scrollbar-thumb:hover{
    background-color: #555 !important; 
}

.notesTable {
    border-collapse: collapse;
    width: 100%;
    color: black;
    table-layout: fixed;
}

.notesTableBody {
    color: black;
}

.notesTableHeading {
    border-bottom: 1px solid #000000;
    text-align: left;
    font-size: 10px;
    letter-spacing: 0.8px;
    font-family: "Lato";
}


.notesTableData {
    text-transform: uppercase;
    font-size: 8px;
    padding: 5px 5px 7px 0px;
    letter-spacing: 1px;
    line-height: 8px;
    border-bottom: 1px solid #000000;
    text-align: left;
    font-family: "Lato";

}

td > div {
    white-space: nowrap;   
    overflow: hidden;       
    text-overflow: ellipsis; 
}


tr:hover .creatorNameText{
    color: #ce8f8f;
}

tr:hover .date, tr:hover .meetingRoomText, tr:hover div{
    color: #900000;
}

tr:hover .actionBtn, tr:hover #meetingCamIcon {
    fill: #900000;
}

.meetingRoomText{
    display: inline-block; 
    text-transform:lowercase; 
    cursor:pointer; 
    color:black;
    vertical-align: super;
}

.creatorNameText{
    color: #898888;
    font-size: 8px;
    letter-spacing: 1px;
}


#date, #editDate{
    border: none;
    float: right;
}

#date:focus-visible{
    outline-offset: 0cap;
}

.topSaveBtn{
    /* display: none; */
    cursor: pointer;
    float: right;
    padding-right: 20px;
    width: 30px;
}


.newDataBtn {
    width: 14px;
    height: 14px;
    float: right;
    padding: 5px 0px 5px 5px;
    cursor: pointer;
}

.dynamicCreateBtn{
    width: 77px;
    padding: 30px 15px 15px 15px;
    height: 59px;
}


.updateBtn{
    color: black; 
    font-size: 10px;
    font-family: "Lato";
    letter-spacing: 0.5px;
    border: none;
    cursor: pointer;
    background: none;
    float: right;
    padding-right: 15px;
}

.addDateContainer, .editDateContainer{
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    margin-left:5px; 
    margin-top: 12px;
}

.editBtn{
    width: 8px;
    cursor: pointer;
}

.delBtn{
    margin-left: 15px;   
    width: 9px;
    cursor: pointer;
}

.notesLabel{
    text-transform: uppercase;
    font-size: 8px;
    margin: 2px 0px;
    letter-spacing: 0.8px;
    line-height: 10px;
    text-align: left;
    color: black;
    width: 140px;
    font-family: "Lato";

}

.inputField, textarea{
    font-family: "Lato";
    border-bottom: 1px solid black;
    border-top: none;
    width: 70%;
    font-size: 8px;
    border-left: none;
    border-right: none;
    padding-bottom: 6px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    outline: none;
    font-family: "Lato";

}

#notesContainer, #edit-notes-container{
    color: black;
    width: 70%;
    font-size: 10px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}

.imageInputField{
    color: #444444;
}

p{
    margin: 0;
}

.tableCamIcon{
    width: 28px;
    margin-right: 5px;
    margin-top: 2px;
}

.camIcon{
    width: 28px;
    margin-right: 5px;
}


.detailsCamIcon{
    width: 32px;
    margin-top: 2px;
    height: 14px;
}

.date{
    padding: 5px 0px 0px 0px;
}

.addModalDate{
    text-transform: uppercase;
    font-size: 8px;
    padding: 5px 0px;
    letter-spacing: 1px;
    line-height: 2px;
    font-family: "Lato";
}

.detailsModalMeetingLink{
    font-size: 9px;
    letter-spacing: 1px;
    font-family: "Lato";
    color: black;
    margin-left: 10px;
}

.createModalLink{
    font-size: 8px;
    letter-spacing: 0.6px;
    font-family: "Lato";
    color: black;

}
.createModalContainer, .editModalContainer{
    clear:both; 
    margin-top: 15px;
    margin-left:5px; 
    max-height: 156px;
    overflow-y: auto;
    overflow-x: hidden;
    /* padding-right: 20px; */
    scrollbar-color: auto !important;
    scrollbar-width: auto !important;
}
.notes-container, .edit-notes-container {
    overflow-wrap: break-word;
    display: flex;
    overflow-wrap: break-word;
    flex-direction: column;
    align-items: flex-end;

}

.notePoints, .editNotePoints{
    width: 82%;
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 10px;
    font-family: "Lato";
    text-transform: uppercase;
    color: black;
    border: none;
    outline: none;
    /* margin-left: 8px; */
}
.bullets{
    margin-right: 5px;
}
.actionBtn{
    display: flex; 
    justify-content: flex-end; 
    /* margin-bottom: 11px; */
}
.detailsHeading{

    padding-right: 78px;
    padding-top: 18px;
    margin: 0;
    font-size: 12px;
    letter-spacing: 1.3px;
    /* padding: 0px 10px; */
    font-weight: 800;
    font-family: "Lato";
    text-transform: uppercase;
    color: black;
}

.detailsCreator{
    line-height: 20px;
    font-size: 10px;
    letter-spacing: 1.3px;
    margin: 2px 0px 0px 0px;
    font-weight: 500;
    padding: 0px 10px;
    font-family: "Lato";
    text-transform: uppercase;
    color: black;
}

.detailsModalDateContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 25px;
    margin-right: 17px;
}

.detailsModalDate{
    text-transform: uppercase;
    font-size: 9px;
    padding: 5px 0px;
    letter-spacing: 0.8px;
    line-height: 4px;
    font-weight: 600;
    font-family: "Lato";
    color: black;

}

.detailsSubject{
    font-size: 11px;
    text-decoration: underline;
    text-underline-offset: 4px;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 20px 0px 45px 0px;
    font-family: "Lato";
    text-transform: uppercase;
    color: black;
}

.detailsNotes{
    width: 90%;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 16px;
    font-family: "Lato";
    color: black;
}

.addModalDate{
    color:black;
}

.placeholder-red::placeholder, .delIconRed{
    color: #900000;
}

#detailsModalBtn{
    cursor: pointer;
}
.detailsDataModalClose{
    width: 14px; 
    margin: 7px 0px 0px 22px;
    cursor:pointer;
}


/* loader */

.loader {
    width: 15px;
    height: 15px;
    border: 5px solid #ddd;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
  }
  
  .loader::before {
    content: "";
    position: absolute;
    inset: -5px;
    border-radius: 50%;
    border: 5px solid #020202;
    animation: l18 2s infinite linear;
  }
  

  @keyframes l18 {
    0%   { clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0); }
    25%  { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0); }
    50%  { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%); }
    75%  { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%); }
    100% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0); }
  }
  

  #topLoader, #editTopLoader{
    display: none;
    left: 0px;
    bottom: 0px;
  }

  #loaderWithScroll,  #editLoaderWithScroll{
    display: none;
  }

  #loaderWithoutScroll, #editLoaderWithoutScroll{
    display: none;
    position: absolute;
    right: 20px;
    bottom: 15px;
  }


  .custom-tooltip {
    font-size: 8.5px;
    letter-spacing: 1px;
    margin-left: 40px;
    padding: 1px 2px 2px 3px;
    background-color: #e5e3e3df;
    border-radius: 4px;
    color: #080808;
    font-weight: 600;
    animation: fadeInOut 1s ease-in-out;
}

#custom-tooltip, #edit-custom-tooltip{
    display: none;
    position: fixed;
    top: 42px;
    right: 15px;
}

#details-custom-tooltip{
    display: none;
    position: fixed;
    left: 152px;
    top: 120px;
}

.detailsZMLogo{
    width: 71px;
}

.detailsNoteLogo{
    width: 35px; 
    margin-left: 20px;
}

#downloadPdfBtn{
    width: 41px; 
    float: right; 
    cursor:pointer;
    position: relative;
    bottom: 43px;
    right: 16px;
}

#permanentDelBtn{
    position: fixed;
    top: 187px;
}

/* .creatorNameText{
    position: fixed;
    top: 146px;
} */


.createZMLogo{
    width: 43px;
}

.createNotePadLogo{
    width: 20px;
    margin-left: 15px;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#edit-loader{
    display: none;
    width: 50px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
    background-size: calc(100% / 3) 50%;
    animation: l3 1s infinite linear;
    position: fixed;
    left: 208px;
    bottom: 118px;
}

.ZMLogo{
    width: 72px;
}

.notePadLogo{
    width: 34px;
    margin-right: 57px;
}

#table-loader{
    display: none;
    width: 50px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
    background-size: calc(100% / 3) 50%;
    animation: l3 1s infinite linear;
    position: fixed;
    left: 321px;
    bottom: 168px;
  }

  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }


@media only screen and (max-width: 1024px) {

    
    .watermark {
        width: 67px !important;
        height: 67px !important;
    }
    .zimoGroupLogo {
        width: 96px;
        height: 22px;
        bottom: 18px;
    }
    .ztfrLogo {
        width: 59px;
        height: 24px;
        left: 159px;
        bottom: 18px;
    }
    
    .modal{
        left: 226px;
        top: 115px;
    }

    .modal-content{
        width: 555px;
        height: 355px;
        border-radius: 25px;
    }
    .ZMLogo {
        width: 62px;
    }
    .notePadLogo {
        width: 31px;
        margin-right: 43px;
    }
    .close{
        width: 12px;
    }
    .notes-heading {
        margin-top: 20px;
        width: 48px;
        height: 9px;
    }
    .notesTableHeading {
        font-size: 9px;
    }
    .newDataBtn {
        width: 12px;
        height: 12px;
    }
    .notesTableData {
        font-size: 7px;
        padding: 2px 4px 5px 0px;
        letter-spacing: 1px;
    }
    .tableCamIcon {
        width: 26px;
        margin-right: 4px;
        margin-top: 1px;
    }
    .creatorNameText {
        font-size: 7px;
        letter-spacing: 0.8px;
    }
    .editBtn {
        width: 7px;
    }
    .delBtn {
        margin-left: 12px;
        width: 8px;
    }
    .permanentDelBtn{
        font-size: 7px;
        letter-spacing: 1px;
    }
    .table-container {
        max-height: 261px;
        padding-right: 12px;
    }

    #table-loader{
        left: 262px;
    }


    /* details */

    #details-custom-tooltip {
        left: 121px;
        top: 108px;
    }
    .detailsZMLogo {
        width: 62px;
    }
    .detailsNoteLogo {
        width: 28px;
        margin-left: 18px;
    }
    .detailsHeading {
        padding-top: 15px !important;
        font-size: 11px;
        padding-right: 55px;
    }

    .detailsDataModalClose {
        width: 12px;
        margin: 7px 0px 0px 30px;
    }
    .detailsModalDateContainer {
        margin-top: 22px;
        margin-right: 10px;
    }
    .detailsModalDate {
        letter-spacing: 1px;
        font-size: 8px;
        line-height: 3px;
    }
    .detailsNotesHeading {
        margin-top: 17px;
        width: 41px;
        height: 8px;
        padding-left: 7px !important;
    }
    .detailsCreator {
        line-height: 16px;
        font-size: 9px;
        letter-spacing: 1px;
        padding: 0px 7px;
    }
    .detailsCamIcon {
        width: 30px;
        margin-top: 0px;
        height: 12px;
    }
    .detailsModalMeetingLink {
        font-size: 8px;
        letter-spacing: 1px;
    }
    .detailsNotesContainer{
        padding: 5px 0px 8px 7px !important;
    }
    .detailsSubject {
        font-size: 9px;
        margin: 20px 0px 39px 0px;
    }
    #detailsNotesContainer {
        width: 545px;
        height: 160px;
    }
    .detailsNotes {
        width: 88%;
        font-size: 8px;
        letter-spacing: 1px;
        line-height: 15px;
        margin-left: -6px;
    }
    #downloadPdfBtn {
        width: 40px;
        bottom: 39px;
        right: 13px;
    }

    /* add & edit */
    #custom-tooltip, #edit-custom-tooltip {
        top: 37px;
    }
    #edit-loader{
        left: 167px;
        bottom: 104px;
    }

    .new-modal-content, .edit-modal-content {
        padding: 15px 8px 9px 12px !important;
        width: 369px;
        height: 227px;
        top: 50px;
        left: 75px;
    }
    .createModalContainer, .editModalContainer {
        max-height: 139px;
    }
    .newDataModalClose, .editClose {
        width: 11px;
    }

    .modal-overlay{
        border-radius: 25px;
    }
    /* .modal-content{
        width: 60%;
        height: 55%;
        top: -50px;
    }

    .new-modal-content, .edit-modal-content{
        width: 40%;
        height: 42%;
        border-radius: 20px;
        top: -10px;
    }

    .notePoints, .editNotePoints{
        margin-left: 15px;
        font-size: 9px;
    }

    .createModalContainer, .editModalContainer{
        max-height: 142px;
    }

    .inputField, .detailsNotes, .detailsModalDate {
        font-size: 9px;
    }

    #downloadPdfBtn{
        width: 40px;
    }

    .detailsCreator{
        font-size: 11px;
    }
    .detailsSubject{
        font-size: 11px;
    }

    .detailsHeading{
        font-size: 14px;
    }

    .detailsZMLogo{
        width: 73px;
    }

    .detailsNoteLogo{
        width: 40px; 
    } */
}

@media screen and (max-width: 1020px){
    #firstModalBtn{
        display: none;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1280px) and (min-height: 569px) and (max-height: 569px){
    .modal{
        top: 81px;
    }
}


@media screen and (min-width: 1280px) and (max-width: 1280px) and (min-height: 649px) and (max-height: 649px){
    .modal{
        top: 162px;
        left: 299px;
    }
    .table-container {
        max-height: 273px;
    }
    #downloadPdfBtn {
        bottom: 40px;
        right: 17px;
    }
    .createModalContainer, .editModalContainer {
        max-height: 153px;
    }
  }
  

@media only screen  and (min-width: 1440px){
    .modal{
        left: 381px;
        top: 170px;
    }
}


@media only screen and (min-width: 1680px){
    .loader{
        width: 20px;
        height: 20px;
    }
    .notesBtn{
        width: 44px;
        height: 46px;
    } 

    .watermark {
        height: 88px !important;
        width: 98px !important;
    }
    .zimoGroupLogo{
        width: 131px;
        height: 31px;
    }
    /* #firstModalBtn{
        top : 140px;
        left: 40px;
    } */
    .ztfrLogo{
        width: 91px;
        height: 31px;
        left: 235px;
    }
    .modal{
        top: 240px;
        left: 400px;
    }
    .modal-content{
        width: 866px;
        height: 487px;
    }
    .modal-overlay{
        width: 866px;
        height: 487px;
        left: 0px; 
    }
    .ZMLogo{
        width: 94px;
        height: 46px;
    }
    .notes-heading{
        margin-top: 21px;
        width: 67px;
        height: 13px;
    }
    .close, .newDataBtn{
        width: 18px;
        height: 18px;
    }
    .notePadLogo{
        width: 43px;
        margin-right: 79px; /*change*/
    }
    .dynamicCreateBtn{
        width: 100px;
        height: 77px;
    }
    .notesTableHeading{
        font-size: 10px;
    }
    .notesTableData {
        font-size: 9px;
        letter-spacing: 1.3px;
        line-height: 11px;
    }
    .tableCamIcon {
        width: 30px;
        height: 13px;
    }
    .table-container{
        max-height: 368px;
        margin-top: 0px;
    }
    .meetingRoomText{
        vertical-align: super;
    }
    .editBtn{
        width: 8px;
    }
    .delBtn{
        width: 9px;
    }
    #table-loader {
        width: 70px;
        left: 417px;
        bottom: 240px;
    }
  

    /* new and edit */
    #edit-loader{
        width: 70px;
        left: 260px;
        bottom: 153px;
    }

    .new-modal-content, .edit-modal-content{
        width: 555px;
        height: 318px;
        top: 70px;
        left: 134px;
    }

    .createZMLogo{
        width: 56px;
        height: 27px;
    }
    .createNotePadLogo{
        width: 26px;
        height: 29px;
    }
    .topSaveBtn{
        width: 32px;
        height: 16px;
        padding-right: 30px;
    }
    .updateBtn {
        letter-spacing: 1px;
        padding-right: 30px;
    }
    .newDataModalClose, .editClose {
        width: 13px;
        height: 13px;
    }
    .camIcon{
        width: 28px;
        height: 12px;
        margin-right: 7px;
    }
    #custom-tooltip, #edit-custom-tooltip {
        top: 55px;
    }
    .createModalLink{
        font-size: 8.5px;
        letter-spacing: 1px;    
    }

    .addModalDate {
        font-size: 9px;
        letter-spacing: 1.2px;
        line-height: 5px;
    }
    .createModalContainer, .editModalContainer{
        max-height: 195px;
    }

    .editDateContainer, .addDateContainer{
        margin-top: 25px;
    }
    .notesLabel{
        font-size: 8px;
        letter-spacing: 1px;
    }
    .inputField{
        font-size: 8px;
        letter-spacing: 1px;
    }
    .inputField, #edit-notes-container{
        width: 73%;
    }
    #edit-notes-container, #notesContainer{
        width: 73%;
    }

    #notes, #editNotes{
        width: 100%;
    }

    .notePoints, .editNotePoints {
        font-size: 8px;
        letter-spacing: 1px;
        line-height: 12px;
    }

    .mt{
        margin-top: 11px;
    }

    .addDateContainer, .editDateContainer{
        margin-top: 20px;
    }

    /* details */


    .detailsZMLogo {
        width: 92px;
        height: 45px;
    }
    .detailsNoteLogo {
        width: 43px;
        margin-left: 30px;
        height: 45px;
    }
    .detailsHeading {
        padding-right: 117px;
        font-size: 15px;
        letter-spacing: 1.5px;
    }
    .detailsDataModalClose{
        width: 18px;
        height: 18px;
    }
    .detailsModalDate {
        font-size: 10px;
        letter-spacing: 2px;
        line-height: 6px;
    }
    .detailsCreator {
        font-size: 11px;
        letter-spacing: 1.5px;
        margin: 5px 0px 0px 0px;
    }
    .detailsCamIcon {
        width: 40px;
        height: 18px;
        margin-top:-2px;
    }
    .detailsModalMeetingLink {
        font-size: 11px;
        letter-spacing: 1.5px;
    }
    .detailsSubject {
        font-size: 12px;
        letter-spacing: 1.5px;
        margin: 30px 0px 50px 0px;
    }
    .detailsNotes {
        width: 90%;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 2px;
    }
    #detailsNotesContainer{
        width: 852px;
        height: 227px;
    }
    #downloadPdfBtn {
        width: 50px;
        bottom: 49px;
    }
    #details-custom-tooltip {
        left: 189px;
        top: 145px;
    }

    
}


@media only screen and (min-width: 1920px){

    /* #firstModalBtn{
        top : 135px;
    }*/
    .notesBtn{
        width: 50px;
        height: 52.5px;
    } 

    .watermark {
        height: 100px !important;
        width: 110px !important;
    }
    .zimoGroupLogo{
        width: 147px;
        height: 35px;
    }
    #firstModalBtn{
        top : 140px;
        left: 40px;
    }
    .ztfrLogo{
        width: 103px;
        height: 35px;
        left: 235px;
    }
    /* .notesBtn {
        width: 42px;
        height: 45.5px;
    } */

    .modal{
        left: 470px;
        top: 306px;
    }
    .modal-overlay{
        width: 960px;
        height: 540px;
        top: -120px;
        left: 0px;
    }
    
    .modal-content{
        width: 960px;
        height: 540px;
        top: -120px;
    }
    .ZMLogo{
        width: 102px;
        height: 50px;
    }
    .notes-heading{
        margin-top: 21px;
        width: 73px;
        height: 14px;
    }
    .close, .newDataBtn{
        width: 20px;
        height: 20px;
    }
    .notePadLogo{
        width: 47px;
        margin-right: 79px;
    }
    .dynamicCreateBtn{
        width: 109px;
        height: 83px;
    }
    .notesTableHeading{
        font-size: 11px;
    }
    .notesTableData {
        font-size: 10px;
        letter-spacing: 1.5px;
        line-height: 12px;
    }
    .tableCamIcon {
        width: 31px;
        height: 13px;
    }
    .table-container{
        max-height: 415px;
        margin-top: 0px;
    }
    .meetingRoomText{
        vertical-align: super;
        margin-top: 5px;
    }
    .editBtn{
        width: 10px;
    }
    .delBtn{
        width: 11px;
    }
    .creatorNameText{
        font-size: 10px;
        letter-spacing: 2px;
    }
    td{
        padding: 5px 5px 7px 0px;
    }

    /* add and edit */
    #table-loader {
        width: 75px;
        left: 472px;
        bottom: 221px;
    }
    #edit-loader{
        width: 75px;
        left: 290px;
        bottom: 170px;
    }
    .new-modal-content, .edit-modal-content{
        width: 622px;
        height: 350px;
        padding: 20px 12px 9px 20px;
        top: 96px;
        left: 166px;
    }
    .createZMLogo{
        width: 61px;
        height: 30px;
    }
    .createNotePadLogo{
        width: 28px;
        height: 33px;
    }
    .topSaveBtn{
        width: 38px;
        height: 19px;
    }
    .updateBtn {
        font-size: 12px;
        letter-spacing: 1px;
        padding-top: 2px;
        padding-right: 25px;
    }
    .newDataModalClose, .editClose {
        width: 15px;
        height: 15px;
    }
    .camIcon{
        width: 31px;
    }
    #custom-tooltip, #edit-custom-tooltip {
        top: 48px;
        right: 18px;
    }
    .createModalLink{
        font-size: 10px;
        letter-spacing: 2px;
    }
    .addModalDate {
        font-size: 10px;
        line-height: 8px;
        letter-spacing: 2px;
    }
    .notesLabel{
        font-size: 10px;
        letter-spacing: 2px;
    }
    .inputField{
        font-size: 10px;
        letter-spacing: 2px;
        margin-left: 40px;
    }
    .inputField, #edit-notes-container{
        width: 70%;
    }
    #edit-notes-container, #notesContainer{
        width: 70%;
    }

    #notes, #editNotes{
        width: 100%;
    }

    .notePoints, .editNotePoints {
        width: 100%;
        font-size: 10px;
        letter-spacing: 2px;
        line-height: 14px;
        padding-bottom: 4px;
        margin-left: 40px;
    }
    .mt{
        margin-top: 15px;
    }

    .createModalContainer, .editModalContainer{
        max-height: 218px;
    }

    .editDateContainer, .addDateContainer{
        margin-top: 25px;
    }

    /* details */
    .detailsZMLogo{
        width: 102px;
    }
    .detailsNoteLogo{
        width: 47px;
    }
    .detailsHeading{
        font-size: 15px;
        letter-spacing: 2px;
        padding-right: 81px;
    }
    .detailsDataModalClose{
        width: 20px;
        height: 20px;
        margin: 7px 0px 0px 37px;
    }
    .detailsCreator {
        font-size: 12px;
        letter-spacing: 1.5px;
        margin: 5px 0px 0px 0px;
    }
    .detailsModalDate {
        font-size: 12px;
        letter-spacing: 1.5px;
        line-height: 6px;
    }
    .detailsCamIcon {
        width: 44px;
        height: 20px;
        margin-top: 0px;
    }
    .detailsModalMeetingLink {
        font-size: 12px;
        letter-spacing: 1.5px;
    }
    .detailsSubject {
        font-size: 12px;
        letter-spacing: 1.5px;
        font-weight: 700;
        margin: 30px 0px 50px 0px;
    }
    .detailsNotes {
        width: 100%;
        font-size: 12px;
        letter-spacing: 1.5px;
        line-height: 18px;
    }
    #detailsNotesContainer{
        height: 265px !important;
        width: 944px;
    }
    #downloadPdfBtn {
        width: 50px;
        bottom: 48px;
    }
    #details-custom-tooltip {
        left: 202px;
        top: 150px;
    }
    
}

